In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Company_Data.csv")  
df.shape
list(df)
df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [3]:
# Label encode
from sklearn.preprocessing import LabelEncoder 
LE = LabelEncoder()
df['ShelveLoc'] = LE.fit_transform(df['ShelveLoc'])
df['Urban'] = LE.fit_transform(df['Urban'])
df['US'] = LE.fit_transform(df['US'])
df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,0,42,17,1,1
1,11.22,111,48,16,260,83,1,65,10,1,1
2,10.06,113,35,10,269,80,2,59,12,1,1
3,7.40,117,100,4,466,97,2,55,14,1,1
4,4.15,141,64,3,340,128,0,38,13,1,0

In [4]:
X = df.iloc[:,1:11]  
Y = df['Sales']

In [5]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y)

In [6]:
# model fitting
from sklearn.tree import DecisionTreeRegressor 
Regressor = DecisionTreeRegressor(max_depth=7) 
Regressor.fit(X_train, Y_train)

DecisionTreeRegressor(max_depth=7)

In [7]:
print(Regressor.tree_.node_count)
print(Regressor.tree_.max_depth)

169
7

In [8]:
Y_pred_train = Regressor.predict(X_train) 
Y_pred_test = Regressor.predict(X_test)

In [9]:
from sklearn.metrics import mean_squared_error
print("MSE Training Data : ",mean_squared_error(Y_train,Y_pred_train).round(2))
print("MSE Test Data: ",mean_squared_error(Y_test,Y_pred_test).round(2))

MSE Training Data :  0.84
MSE Test Data:  3.99